*,
*::before,
*::after {
    box-sizing: border-box;
}

/* ROW SETUP */
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1vh 0;
}

/* BASE COLUMN STYLES */
[class^="col-"],
[class*=" col-"] {
    // padding-left: 0.5vw;
    // padding-right: 0.5vw;
    padding: 0 0.3vw;
    box-sizing: border-box;
    flex: 0 0 auto;
}

.columns-1 {
    grid-template-columns: repeat(1, 1fr);
}

.columns-2 {
    grid-template-columns: repeat(2, 1fr);
}

.columns-3 {
    grid-template-columns: repeat(3, 1fr);
}

.columns-4 {
    grid-template-columns: repeat(4, 1fr);
}

.columns-5 {
    grid-template-columns: repeat(5, 1fr);
}

.columns-6 {
    grid-template-columns: repeat(6, 1fr);
}

.col-1 {
    width: 8.3333%;
}

.col-2 {
    width: 16.6666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3333%;
}

.col-5 {
    width: 41.6666%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.3333%;
}

.col-8 {
    width: 66.6666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.3333%;
}

.col-11 {
    width: 91.6666%;
}

.col-12 {
    width: 100%;
}

/* ==== Tablet: ≤ 1024px ==== */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .col-1 {
        width: 8.3333%;
    }

    .col-2 {
        width: 16.6666%;
    }

    .col-3 {
        width: 33.3333%;
    }

    .col-4 {
        width: 50%;
    }

    .col-5 {
        width: 60%;
    }

    .col-6 {
        width: 100%;
    }

    .col-7 {
        width: 100%;
    }

    .col-8 {
        width: 100%;
    }

    .col-9 {
        width: 100%;
    }

    .col-10 {
        width: 100%;
    }

    .col-11 {
        width: 100%;
    }

    .col-12 {
        width: 100%;
    }
}

/* ==== Mobile: ≤ 768px ==== */
@media only screen and  (max-width: 768px) {
    .col-1 {
        width: 100%;
    }

    .col-2 {
        width: 100%;
    }

    .col-3 {
        width: 100%;
    }

    .col-4 {
        width: 100%;
    }

    .col-5 {
        width: 100%;
    }

    .col-6 {
        width: 100%;
    }

    .col-7 {
        width: 100%;
    }

    .col-8 {
        width: 100%;
    }

    .col-9 {
        width: 100%;
    }

    .col-10 {
        width: 100%;
    }

    .col-11 {
        width: 100%;
    }

    .col-12 {
        width: 100%;
    }
}